<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ModService"
    Manufacturer="ModService"
    Version="$(var.ProductVersion)"
    UpgradeCode="F7A1A241-98D8-4A41-A787-4A6F024FA11B"
    Language="1033"
    InstallerVersion="500"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#MainExecutableFile]" />

    <Icon Id="ProductIcon" SourceFile="$(var.PublishDir)\ModService.Host.exe" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

    <CustomAction
      Id="LaunchApplication"
      BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
      DllEntry="WixShellExec"
      Impersonate="yes"
      Return="ignore" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ModService">
        <Component Id="MainExecutableComponent" Guid="*" Bitness="always64">
          <File
            Id="MainExecutableFile"
            Source="$(var.PublishDir)\ModService.Host.exe"
            Name="ModService.exe"
            KeyPath="yes" />
        </Component>

        <Component
          Id="ConfigComponent"
          Guid="*"
          Bitness="always64"
          Permanent="yes"
          NeverOverwrite="yes"
          Condition="NOT Installed">
          <File
            Id="ConfigFile"
            Source="$(var.ConfigSource)"
            Name="modservice.json"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuModServiceFolder" Name="ModService">
        <Component Id="StartMenuShortcutComponent" Guid="*" Bitness="always64">
          <Shortcut
            Id="StartMenuShortcut"
            Name="ModService"
            Description="Launch ModService"
            Target="[INSTALLFOLDER]ModService.exe"
            WorkingDirectory="INSTALLFOLDER" />
          <CreateFolder />
          <RemoveFolder Id="RemoveProgramMenuModServiceFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\ModService"
            Name="StartMenuShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <UIRef Id="ModService_InstallDir_X64" />

    <Feature Id="MainFeature" Title="ModService" Level="1">
      <ComponentRef Id="MainExecutableComponent" />
      <ComponentRef Id="ConfigComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <Files Include="$(var.PublishDir)\**\*" Directory="INSTALLFOLDER">
        <Exclude Files="$(var.PublishDir)\ModService.Host.exe" />
        <Exclude Files="$(var.PublishDir)\modservice.json" />
        <Exclude Files="$(var.PublishDir)\**\*.pdb" />
      </Files>
    </Feature>
  </Package>
</Wix>
